.glass-container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom,
            #b59cf8,
            #f5f2ff 48%,
            #b59cf8 68%,
            #8273a9 100%);
    mix-blend-mode: hard-light;
}

.glass {
    width: 100vw;
    height: 100vh;
    background-image: repeating-linear-gradient(to right,
            rgba(255, 255, 255, .04) 0%,
            rgba(0, 0, 0, .39) 49%,
            rgba(255, 255, 255, .27) 100%);
    background-size: 40px;
    mix-blend-mode: color-dodge;
    backdrop-filter: blur(10px);
}